ul.nav
  li.nav__item.active
    a(href="#").nav__link Home
  li.nav__item
    a(href="#").nav__link Shop
  li.nav__item
    a(href="#").nav__link Features
  li.nav__item
    a(href="#").nav__link Mega group
  li.nav__item
    a(href="#").nav__link About
  li.nav__item
    a(href="#").nav__link Blog
  li.nav__item
    a(href="#").nav__link Contact