.search.header-main__search
  form.search-form
    input(type="search" placeholder="Search..").input-field.search-form__input
    .search-form__select
      span.dropdown-menu__header All Categories
      ul.dropdown-menu
        li.option Men
        li.option Women
        li.option Accessories
        li.option Fashion
    .search-form__submit
      button(type="submit").btn.search-btn
        span.search__icon <i class="fas fa-search"></i>