.product-prev
  .product-prev__header
    .product-prev__img(style="background-image:url('static/images/content/special-offers/special-offer-1.jpg')")
    .product-prev__title Printed Chiffon Dress
  .product-prev__footer
    .product-prev__block
      .product-prev__price £ 61.19
      .product-prev__stars
        i.fas.fa-star
        i.fas.fa-star
        i.fas.fa-star
        i.fas.fa-star
        i.far.fa-star
    .product-prev__block
      a(href="#").btn.btn__size_sm.product-prev__btn Add to cart