.special-offer.special-offer-popular
  .category__row
    .product-prevs.product-prevs__special-offers.js-category-slider.js-category-slider_popular
      include ../product/special-offers-prevs/special-offer-prev-4
      include ../product/special-offers-prevs/special-offer-prev-3
      include ../product/special-offers-prevs/special-offer-prev-2
      include ../product/special-offers-prevs/special-offer-prev-1
      include ../product/special-offers-prevs/special-offer-prev-4
      include ../product/special-offers-prevs/special-offer-prev-3
      include ../product/special-offers-prevs/special-offer-prev-2
      include ../product/special-offers-prevs/special-offer-prev-1
    .js-category-slider__navigation
      .js-category-slider__nav-prev.js-category-slider__nav-prev_popular
        +icon('chevron-left','slider-nav__icon')
      .js-category-slider__nav-next.js-category-slider__nav-next_popular
        +icon('chevron-right','slider-nav__icon')