section.s-catalog-nav
  .container
    .catalog-nav
      .catalog-nav__title Go quickly to  <i class="fas fa-arrow-circle-right"></i>
      ul.catalog-nav__list
        li.catalog-nav__item
          a(href="#").catalog-nav__link  Women
        li.catalog-nav__item
          a(href="#").catalog-nav__link  Men
        li.catalog-nav__item
          a(href="#").catalog-nav__link  Accessories
        li.catalog-nav__item
          a(href="#").catalog-nav__link  Fashion
        li.catalog-nav__item
          a(href="#").catalog-nav__link  Features
        li.catalog-nav__item
          a(href="#").catalog-nav__link  Clothings
        li.catalog-nav__item
          a(href="#").catalog-nav__link  Bags and Wallets
        li.catalog-nav__item
          a(href="#").catalog-nav__link  Fragrances
        li.catalog-nav__item
          a(href="#").catalog-nav__link  Caps & Hats
