section.s-catalog-prevs
  .bg-to-left
    .container.container_bg-color_white
      .category-prevs
        a(href="#" style="background-image:url('static/images/content/catalog-prevs/catalog-prev-1.jpg')").category-prev.category-prev_size_sm
          .category-prev__title clothes
          .btn.btn__size_md.catalog-prev__btn Click here
        a(href="#" style="background-image:url('static/images/content/catalog-prevs/catalog-prev-2.jpg')").category-prev.category-prev_size_sm
          .category-prev__title Footwear
          .btn.btn__size_md.catalog-prev__btn Click here
        a(href="#" style="background-image:url('static/images/content/catalog-prevs/catalog-prev-3.jpg')").category-prev.category-prev_size_sm
          .category-prev__title Hand bags
          .btn.btn__size_md.catalog-prev__btn Click here



