section(style="background-image:url('static/images/general/promo-banner .png')").s-promo-banner
  .container
    .js-promo-banner__navigation
      .slider-nav.banner-slider__nav-prev
        +icon('chevron-left','slider-nav__icon')
      .slider-nav.slider-nav--next.banner-slider__nav-next
        +icon('chevron-right','slider-nav__icon')
    .js-promo-banner
      .promo-banner__item
        .promo-banner__heading
          span New! <br>
          span Collection 2016 <br>
          span for <br>
          span men&women
      .promo-banner__item
        .promo-banner__heading
          span New! <br>
          span Collection 2016 <br>
          span for <br>
          span men&women <br>
      .promo-banner__item
        .promo-banner__heading
          span New! <br>
          span Collection 2016 <br>
          span for <br>
          span men&women <br>
      .promo-banner__item
        .promo-banner__heading
          span New! <br>
          span Collection 2016 <br>
          span for <br>
          span men&women <br>


