// Colors
$white: #ffffff;
$black: #000000;

$main-action-color: #db3838;

$dark: #444444;

$base-text-color: #444444;

// Sizes
$base-font-size: 15px;


$content-size: 1250px;
$tablet-size: 1239px;
$phone-size: 767px ;


// Fonts
$main-font: 'Gotham Book', Arial, sans-serif;

$medium-font: 'Gotham Medium', Arial, sans-serif;

$bold-font: 'Gotham Bold', Arial, sans-serif;
