.product-prev
  .product-prev__header
    .product-prev__mark.product-prev__mark_color_purple
      span.mark__text.mark__text_purple New!
    .product-prev__img(style="background-image:url('static/images/content/men/product-prev-2_(men).jpg')")
    .product-prev__title Printed Chiffon Dress
  .product-prev__footer
    .product-prev__block
      .product-prev__price £ 61.19
      .product-prev__stars
        i.fas.fa-star
        i.fas.fa-star
        i.fas.fa-star
        i.fas.fa-star
        i.far.fa-star
    .product-prev__block
      a(href="#").btn.btn__size_sm.product-prev__btn Add to cart