.mobile-nav
  .mobile-nav__sandwich
    +icon('menu','mobile-nav__icon')
  .mobile-nav__content
    ul.mobile-nav__list
      li.mobile-nav__item.active
        a(href="#").mobile-nav__link Home
      li.mobile-nav__item
        a(href="#").mobile-nav__link Shop
      li.mobile-nav__item
        a(href="#").mobile-nav__link Features
      li.mobile-nav__item
        a(href="#").mobile-nav__link Mega group
      li.mobile-nav__item
        a(href="#").mobile-nav__link About
      li.mobile-nav__item
        a(href="#").mobile-nav__link Blog
      li.mobile-nav__item
        a(href="#").mobile-nav__link Contacts