a(href="#").blog-post
  .blog-post__header
    img(src="static/images/content/blog/blog-3.jpg").blog-post__img
    .blog-post__date
      span.day 02
      span.month Feb
  .blog-post__footer
    .blog-post__title Curabitur ligulasapien
    p.text.blog-post__text Vestibulum sagittis, nisl nec pellentesque suscipit, arcu nisi maximus neque, vitae finibus erat odio eu lacus. Curabitur malesuada erat