footer.footer
  .container
    .footer__block
      .logo.footer__logo
        img(src="static/images/general/logo.png").logo__img
      .text.footer__text Vestibulum sagittis, nisl nec pellentesque suscipit, arcu nisi maximus neque, vitae finibus erat odio eu lacus. Curabitur malesuada erat eros, quis dignissim dui accumsan id. Cras non imperdiet metus. Sed nec turpis nec.
    .footer__block
      .signup
        .signup__text Sign up for our Newsletter !
        form.signup__form
          input(type="email" placeholder="xekpoc@gmail.com").signup__input-field
          input(type="submit" value="Submit").btn.signup__submit
      .footer__row
        .footer__col
          .footer__title information
          ul.footer-nav__list
            li.footer-nav__item
              a(href="#").footer-nav__link Careers
            li.footer-nav__item
              a(href="#").footer-nav__link Investor Relations
            li.footer-nav__item
              a(href="#").footer-nav__link Press Releases
            li.footer-nav__item
              a(href="#").footer-nav__link Shop with Points
        .footer__col
          .footer__title customer care
          ul.footer-nav__list
            li.footer-nav__item
              a(href="#").footer-nav__link Returns
            li.footer-nav__item
              a(href="#").footer-nav__link Shipping Info
            li.footer-nav__item
              a(href="#").footer-nav__link Gift Cards
            li.footer-nav__item
              a(href="#").footer-nav__link Size Guide
        .footer__col
          .footer__title Store Information
          .footer-contacts
            +icon('location','footer-contacts__icon')
            .footer-contacts__text address: Lorem ipsum dolor sit amet,<br>Onsectetuer adipiscing elit.
          .footer-contacts
            +icon('message','footer-contacts__icon')
            .footer-contacts__text email: <a href="mailto:demo@posthemes.com"> demo@posthemes.com </a>
          .footer-contacts
            +icon('phone','footer-contacts__icon')
            .footer-contacts__text phone: <a href="tel:0987.654.321">0987.654.321</a>
  .footer-bottom
    span.footer-bottom__text © 2016 *********** All Rights Reserved



